.search_input {
  outline: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid 1px blue;
  padding: 3px 10px;
}
input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.824);
}
