.header_avatar,
.header_avatar_img {
  max-width: 150px;
}
.header_avatar_img img {
  width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
}

.profile_header {
  width: 70%;
  margin: 50px auto;
}
.profile_header header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.profile_header section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  gap: 20px;
}
.hightLights {
  display: flex;
  flex-direction: column;
  width: 80px;
}
.hightLight_text {
  text-align: center;
}
.profile_posts_sectors {
  position: relative;
  /* display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px auto;
  text-align: center;
  border-top: solid 0.5px lightgray; */
}
.absolute {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px auto;
  text-align: center;
  /* padding: 15px; */
  border-top: solid 0.5px lightgray;
}
.ul_profile span {
  font-weight: 600;
}
.profile_posts_sectors img {
  width: 25px;
  height: 25px;
}
.profile_posts_sectors span {
  font-size: 20px;
  margin-left: 10px;
}
.post_box {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 130px;
}
.post_img {
  width: 32.5%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.post,
.reels,
.elect {
  padding-top: 15px;
}
.post:hover {
  border-top: solid 0.1px black;
}
.reels:hover {
  border-top: solid 1px black;
}
.elect:hover {
  border-top: solid 1px black;
}
@media screen and (max-width: 426px) {
  .grid_card {
    grid-gap: 5px;
    /* grid-template-columns: repeat(auto-fit, minmax(186px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
  }
  .profile_avatar_container {
    display: block;
  }
  .btn {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 376px) {
  .grid_card {
    /* grid-gap: 10px; */
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    display: inline-grid;
  }
  .profile_post img {
    width: 300px;
  }
  .profile_post {
    margin: 0 auto;
  }
}
